<div class="card" style="margin-top: 15px">
  <div class="card-header bg-white" style="padding-top: 15px"><h3>Cấp độ hiện tại</h3></div>
  <div class="card-body">
    <div class="card-text">
      <div class="crown">
        <div style="padding-top: 55px; padding-left: 51px; font-size: 40px; color: white">
          <b>{{levelAt}}</b>
        </div>
      </div>
      <div style="font-size: 20px; text-align: center">
        Số lần trả lời đúng: {{right}}
      </div>
      <div style="font-size: 20px;  text-align: center">
        Số lần trả lời sai: {{wrong}}
      </div>
    </div>
  </div>
</div>
